<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title></title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrapValidator.css' />
    <link href="/flat/blue.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .has-success .form-control-feedback{
        display: none;
        color: #333!important;
      }
       .has-success{
        color: red!important;
      }
    </style>
  </head>

  <body>
    <div class="container">
        <div class="row">
            <!-- form: -->
            <section>
                <div class="col-lg-8 col-lg-offset-2">
                    
                    <form id="defaultForm" method="post" class="" action="">
                      <div class="page-header">
                        <h4>一、单选(该处共有<%=result.res_danxuan_arr.length%>小题,每小题<%=ksinfo.danxuan_fenzhi%>分)</h4>
                      </div>
                      <%result.res_danxuan_arr.forEach(function(item,index){%>
                        <div class="form-group">
                              <label class="col-12 control-label"><%=index+1%>、<%=item.timu%></label>
                              <div class="col-12">
                                  <%item.xuanxiang.forEach(function(it,ind){%>
                                    <%var chooseitem = ''%>
                                    <%if(ind == 0){chooseitem = 'A. '}%>
                                    <%if(ind == 1){chooseitem = 'B. '}%>
                                    <%if(ind == 2){chooseitem = 'C. '}%>
                                    <%if(ind == 3){chooseitem = 'D. '}%>
                                    <%if(ind == 4){chooseitem = 'E. '}%>
                                    <%if(ind == 5){chooseitem = 'F. '}%>
                                    <%if(ind == 6){chooseitem = 'G. '}%>
                                    <%if(ind == 7){chooseitem = 'H. '}%>
                                    <%if(ind == 8){chooseitem = 'I. '}%>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="<%=item._id%>" value="<%=it._id%>" /> &nbsp;<%=chooseitem%><%=it.content%>
                                        </label>
                                    </div>
                                  <%})%>
                              </div>
                        </div>
                      <%})%>

                      <div class="page-header">
                        <h4>二、多选(该处共有<%=result.res_duoxuan_arr.length%>小题,每小题<%=ksinfo.duoxuan_fenzhi%>分)</h4>
                      </div>
                      <%result.res_duoxuan_arr.forEach(function(item,index){%>
                        <div class="form-group">
                          <label class="col-12 control-label"><%=index+1%>、<%=item.timu%></label>
                            <div class="col-12">
                                <%item.xuanxiang.forEach(function(it,ind){%>
                                  <%var chooseitemdx = ''%>
                                  <%if(ind == 0){chooseitemdx = 'A. '}%>
                                  <%if(ind == 1){chooseitemdx = 'B. '}%>
                                  <%if(ind == 2){chooseitemdx = 'C. '}%>
                                  <%if(ind == 3){chooseitemdx = 'D. '}%>
                                  <%if(ind == 4){chooseitemdx = 'E. '}%>
                                  <%if(ind == 5){chooseitemdx = 'F. '}%>
                                  <%if(ind == 6){chooseitemdx = 'G. '}%>
                                  <%if(ind == 7){chooseitemdx = 'H. '}%>
                                  <%if(ind == 8){chooseitemdx = 'I. '}%>
                                  <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="<%=item._id%>" value="<%=it._id%>" /> &nbsp;<%=chooseitemdx%><%=it.content%>
                                    </label>
                                  </div>
                                  <%})%>
                            </div>
                        </div>
                      <%})%>
                      
                      <div class="page-header">
                        <h4>三、判断(该处共有<%=result.res_panduan_arr.length%>小题,每小题<%=ksinfo.panduan_fenzhi%>分)</h4>
                      </div>
                      <%result.res_panduan_arr.forEach(function(item,index){%>
                        <div class="form-group">
                              <label class="col-12 control-label"><%=index+1%>、<%=item.timu%></label>
                              <div class="col-12">
                                  <%item.xuanxiang.forEach(function(it,ind){%>
                                    <%var chooseitempd = ''%>
                                    <%if(ind == 0){chooseitempd = 'A. '}%>
                                    <%if(ind == 1){chooseitempd = 'B. '}%>
                                    <%if(ind == 2){chooseitempd = 'C. '}%>
                                    <%if(ind == 3){chooseitempd = 'D. '}%>
                                    <%if(ind == 4){chooseitempd = 'E. '}%>
                                    <%if(ind == 5){chooseitempd = 'F. '}%>
                                    <%if(ind == 6){chooseitempd = 'G. '}%>
                                    <%if(ind == 7){chooseitempd = 'H. '}%>
                                    <%if(ind == 8){chooseitempd = 'I. '}%>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="panduanti<%=item._id%>" value="<%=it._id%>" /> &nbsp;<%=chooseitempd%><%=it.content%>
                                        </label>
                                    </div>
                                  <%})%>
                              </div>
                        </div>
                      <%})%>

                      <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary" name="signup" value="Sign up">Sign up</button>
                                <button type="button" class="btn btn-info" id="validateBtn">Manual validate</button>
                                <button type="button" class="btn btn-info" id="resetBtn">Reset form</button>
                            </div>
                      </div>
                    </form>
              </div>
          </section>
      </div>
    </div>
                

<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src='/javascripts/bootstrapValidator.min.js' ></script>
<script src='/javascripts/icheck.js' ></script>
<script>
'use strict'
$(document).ready(function() {
    // $('input').iCheck({
    //   checkboxClass: 'icheckbox_flat',
    //   radioClass: 'iradio_flat'
    // });
    // Generate a simple captcha
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    };
    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#defaultForm').bootstrapValidator({
        //live: 'disabled',
        message: '请选择选项',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            
        }
    }).on('success.form.bv', function (e) {
        e.preventDefault();
        let temp_danxuan = [],
            temp_duoxuan = [],
            temp_panduan = [],
            danxuan_num = '<%=result.res_danxuan_arr.length%>',
            duoxuan_num = '<%=result.res_duoxuan_arr.length%>',
            panduan_num = '<%=result.res_panduan_arr.length%>'
        console.log('danxuan_num-->',danxuan_num)
        console.log('duoxuan_num-->',duoxuan_num)
        console.log('panduan_num-->',panduan_num)
        $('input:radio:checked').each(function(){
          //提交答案格式 timu_id:daan_id  d.xuanxiang2.indexOf('true')) > 0
          console.log($(this).attr('name').indexOf('panduanti'))
          if($(this).attr('name').indexOf('panduanti') > -1){
            console.log('---判断题---')
            temp_panduan.push(($(this).attr('name').substring(9)) + ':' + $(this).val())
            console.log('temp_panduan--',temp_panduan)
          }else{
            console.log('---单选题---')
            temp_danxuan.push($(this).attr('name') + ':' + $(this).val())
            console.log('temp_danxuan---->',temp_danxuan)
          }
        });
        let temp_duoxuan_arr =  '<%- JSON.stringify(result.res_duoxuan_arr) %>',
            duoxuan_arr = JSON.parse(temp_duoxuan_arr),
            temp_name = ''
        for(let i=0;i<duoxuan_arr.length;i++){
            temp_name = duoxuan_arr[i]._id
            console.log('temp_name--->',temp_name)
            let temp_arr = []
            for(let j=0;j<$('input[name=' + temp_name + ']:checked').length;j++){
              temp_arr.push($('input[name=' + temp_name + ']:checked').val())
              console.log('temp_arr--->',temp_arr)
            }
            temp_duoxuan.push(temp_name + ':' + temp_arr)
            console.log('check temp_duoxuan--->',temp_duoxuan)
            temp_arr = []
        }
        if((danxuan_num==temp_danxuan.length) && (duoxuan_num==temp_duoxuan.length) && (panduan_num==temp_panduan.length)){
          console.log('ajax 了')
          let randomStr = GetQueryString('code')
          console.log('check randomStr-->',randomStr)
          $.ajax({
            url:'/front/checkks',
            method:'post',
            data:{
              randomStr : randomStr,
              danxuan_arr : JSON.stringify(temp_danxuan),
              duoxuan_arr : JSON.stringify(temp_duoxuan),
              panduan_arr : JSON.stringify(temp_panduan)
            },
            success:function(res){
              if(res.code === 0){
                console.log(res.msg)
                // layer.open({
                //   title: '提示',
                //   content: '试卷设置成功',
                //   end:function(){
                //     parent.parent.layer.closeAll()
                //     //layer.closeAll('iframe')
                //   }
                // }); 

              }else{
                //console.log('试卷设置成功')
              }
            },
            error:function(err){
              console.log('err',err)
            }
          }) 
        }
    })//on


    // Validate the form manually
    $('#validateBtn').click(function() {
        $('#defaultForm').bootstrapValidator('validate');
    });

    $('#resetBtn').click(function() {
        $('#defaultForm').data('bootstrapValidator').resetForm(true);
    });
    function GetQueryString(name)
    {
         var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
         var r = window.location.search.substr(1).match(reg);
         if(r!=null)return  unescape(r[2]); return null;
    }
});
</script>
  </body>
</html>

