<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/layui.css" media="all">
    <style type="text/css">
      .test{
        border: 1px dotted red;
      }
      .layui-input-block-canclemargin {
        margin-left: 20px;
      }
      .layui-form-item-bgc {
        background-color: #f2f2f2;
      }
    </style>
  </head>

  <body>
    <div class="layui-container">
      <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md8 layui-col-md-offset2">
          <form class="layui-form" action="">
            <%if(result.res_danxuan_arr.length != 0){%>
                <blockquote class="layui-elem-quote">一、单选题(该处共有<%=result.res_danxuan_arr.length%>小题,每小题<%=ksinfo.danxuan_fenzhi%>分)</blockquote>
                <%result.res_danxuan_arr.forEach(function(item,index){%>
                  <div class="layui-form-item layui-form-item-bgc">
                    <%=index+1%>、<%=item.timu%>
                    <%item.xuanxiang.forEach(function(it,ind){%>
                      <div class="layui-input-block layui-input-block-canclemargin">
                        <%var chooseitem = ''%>
                        <%if(ind == 0){chooseitem = 'A. '}%>
                        <%if(ind == 1){chooseitem = 'B. '}%>
                        <%if(ind == 2){chooseitem = 'C. '}%>
                        <%if(ind == 3){chooseitem = 'D. '}%>
                        <%if(ind == 4){chooseitem = 'E. '}%>
                        <%if(ind == 5){chooseitem = 'F. '}%>
                        <%if(ind == 6){chooseitem = 'G. '}%>
                        <%if(ind == 7){chooseitem = 'H. '}%>
                        <%if(ind == 8){chooseitem = 'I. '}%>
                        <input type="radio" name="<%=item._id%>" value="<%=it._id%>" title="<%=chooseitem%><%=it.content%>">
                      </div>
                    <%})%>
                  </div>
                <%})%>
            <%}%>
            <%if(result.res_duoxuan_arr.length != 0){%>
                <blockquote class="layui-elem-quote">二、多选题(该处共有<%=result.res_duoxuan_arr.length%>小题,每小题<%=ksinfo.duoxuan_fenzhi%>分)</blockquote>
                <%result.res_duoxuan_arr.forEach(function(item,index){%>
                  <div class="layui-form-item layui-form-item-bgc">
                    <%=index+1%>、<%=item.timu%>
                    <%item.xuanxiang.forEach(function(it,ind){%>
                      <div class="layui-input-block layui-input-block-canclemargin">
                        <%var chooseitem = ''%>
                        <%if(ind == 0){chooseitem = 'A. '}%>
                        <%if(ind == 1){chooseitem = 'B. '}%>
                        <%if(ind == 2){chooseitem = 'C. '}%>
                        <%if(ind == 3){chooseitem = 'D. '}%>
                        <%if(ind == 4){chooseitem = 'E. '}%>
                        <%if(ind == 5){chooseitem = 'F. '}%>
                        <%if(ind == 6){chooseitem = 'G. '}%>
                        <%if(ind == 7){chooseitem = 'H. '}%>
                        <%if(ind == 8){chooseitem = 'I. '}%>
                        <input type="checkbox" name="<%=item._id%>" value="<%=it._id%>" lay-skin="primary" title="<%=chooseitem%><%=it.content%>" lay-verify="required">
                      </div>
                    <%})%>
                  </div>
                <%})%>
            <%}%>
            <%if(result.res_panduan_arr.length != 0){%>
                <blockquote class="layui-elem-quote">三、判断题(该处共有<%=result.res_panduan_arr.length%>小题,每小题<%=ksinfo.panduan_fenzhi%>分)</blockquote>
                <%result.res_panduan_arr.forEach(function(item,index){%>
                  <div class="layui-form-item layui-form-item-bgc">
                    <%=index+1%>、<%=item.timu%>
                    <%item.xuanxiang.forEach(function(it,ind){%>
                      <div class="layui-input-block layui-input-block-canclemargin">
                        <%var chooseitem = ''%>
                        <%if(ind == 0){chooseitem = 'A. '}%>
                        <%if(ind == 1){chooseitem = 'B. '}%>
                        <%if(ind == 2){chooseitem = 'C. '}%>
                        <%if(ind == 3){chooseitem = 'D. '}%>
                        <%if(ind == 4){chooseitem = 'E. '}%>
                        <%if(ind == 5){chooseitem = 'F. '}%>
                        <%if(ind == 6){chooseitem = 'G. '}%>
                        <%if(ind == 7){chooseitem = 'H. '}%>
                        <%if(ind == 8){chooseitem = 'I. '}%>
                        <input type="radio" name="<%=item._id%>" value="<%=it._id%>" title="<%=chooseitem%><%=it.content%>" lay-verify="required">
                      </div>
                    <%})%>
                  </div>
                <%})%>
            <%}%>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="tijiao">提交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- container -->


<script src="/javascripts/jquery-3.1.1.js"></script>
<script src="/javascripts/layui.js"></script>
<script>
'use strict'
$(function(){

  layui.use('form', function(){
  var form = layui.form;
      form.render()
  
  //监听提交
  form.on('submit(tijiao)', function(data){
    console.log('data---->',data.field)
    layer.msg(JSON.stringify(data.field));
    return false;
  });
})
})
</script>
  </body>
</html>

