<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title><%=ksinfo.ksname%></title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/dxxxhjs/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/dxxxhjs/stylesheets/bootstrapValidator.css' />
    <link href="/dxxxhjs/flat/blue.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .has-success .form-control-feedback{
        display: none;
        color: #333!important;
      }
      .has-success{
        color: red!important;
      }
      .info{
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
        <div class="row">
          <div class="col-12 info">
            <h3><%=ksinfo.ksname%></h3>
          </div>
          <div class="col-12 info">
            <h4>本次考试得分：<span style="color: red;"><%=result.zongfen%></span>分</h4>
          </div>
          <div class="col-12 pull-right">
            姓名:<span>123</span>,单位:<span>321</span>
          </div>
        </div>
        <div class="row">
            <!-- form: -->
            <section>
                <div class="col-lg-8 col-lg-offset-2">
                    
                    <form id="defaultForm" method="post" class="" action="">
                      <div class="page-header">
                        <h4>一、单选(该处共有<%=result.res_danxuan_arr.length%>小题,每小题<%=ksinfo.danxuan_fenzhi%>分)</h4>
                      </div>
                      <%result.res_danxuan_arr.forEach(function(item,index){%>
                        <div class="form-group">
                              <label class="col-12 control-label"><%=index+1%>、<%=item.timu%>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue;">(<%=item.choose%>)</span></label>
                              <div class="col-12">
                                  <%item.xuanxiang.forEach(function(it,ind){%>
                                    <%var chooseitem = ''%>
                                    <%if(ind == 0){chooseitem = 'A. '}%>
                                    <%if(ind == 1){chooseitem = 'B. '}%>
                                    <%if(ind == 2){chooseitem = 'C. '}%>
                                    <%if(ind == 3){chooseitem = 'D. '}%>
                                    <%if(ind == 4){chooseitem = 'E. '}%>
                                    <%if(ind == 5){chooseitem = 'F. '}%>
                                    <%if(ind == 6){chooseitem = 'G. '}%>
                                    <%if(ind == 7){chooseitem = 'H. '}%>
                                    <%if(ind == 8){chooseitem = 'I. '}%>
                                    <div class="radio">
                                        <label>
                                            <%if(it.is_correct==true){%>
                                              <input type="radio" name="<%=item._id%>" value="<%=it._id%>" checked="checked" disabled/> &nbsp;<span style="color: red;"><%=chooseitem%><%=it.content%></span>
                                            <%}else{%>
                                              <input type="radio" name="<%=item._id%>" value="<%=it._id%>" disabled/> &nbsp;<%=chooseitem%><%=it.content%></span>
                                            <%}%>
                                        </label>
                                    </div>
                                  <%})%>
                              </div>
                        </div>
                      <%})%>

                      <div class="page-header">
                        <h4>二、多选(该处共有<%=result.res_duoxuan_arr.length%>小题,每小题<%=ksinfo.duoxuan_fenzhi%>分)</h4>
                      </div>
                      <%result.res_duoxuan_arr.forEach(function(item,index){%>
                        <div class="form-group">
                          <label class="col-12 control-label"><%=index+1%>、<%=item.timu%>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue;">(<%=item.choose%>)</span></label>
                            <div class="col-12">
                                <%item.xuanxiang.forEach(function(it,ind){%>
                                  <%var chooseitemdx = ''%>
                                  <%if(ind == 0){chooseitemdx = 'A. '}%>
                                  <%if(ind == 1){chooseitemdx = 'B. '}%>
                                  <%if(ind == 2){chooseitemdx = 'C. '}%>
                                  <%if(ind == 3){chooseitemdx = 'D. '}%>
                                  <%if(ind == 4){chooseitemdx = 'E. '}%>
                                  <%if(ind == 5){chooseitemdx = 'F. '}%>
                                  <%if(ind == 6){chooseitemdx = 'G. '}%>
                                  <%if(ind == 7){chooseitemdx = 'H. '}%>
                                  <%if(ind == 8){chooseitemdx = 'I. '}%>
                                  <div class="checkbox">
                                    <label>
                                      <%if(it.is_correct==true){%>
                                        <input type="checkbox" name="<%=item._id%>" value="<%=it._id%>" checked="checked" disabled/> &nbsp;<span style="color: red;"><%=chooseitemdx%><%=it.content%></span>
                                      <%}else{%>
                                        <input type="checkbox" name="<%=item._id%>" value="<%=it._id%>" disabled/> &nbsp;<%=chooseitemdx%><%=it.content%>
                                      <%}%>
                                    </label>
                                  </div>
                                  <%})%>
                            </div>
                        </div>
                      <%})%>
                      
                      <div class="page-header">
                        <h4>三、判断(该处共有<%=result.res_panduan_arr.length%>小题,每小题<%=ksinfo.panduan_fenzhi%>分)</h4>
                      </div>
                      <%result.res_panduan_arr.forEach(function(item,index){%>
                        <div class="form-group">
                              <label class="col-12 control-label"><%=index+1%>、<%=item.timu%>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue;">(<%=item.choose%>)</span></label>
                              <div class="col-12">
                                  <%item.xuanxiang.forEach(function(it,ind){%>
                                    <%var chooseitempd = ''%>
                                    <%if(ind == 0){chooseitempd = 'A. '}%>
                                    <%if(ind == 1){chooseitempd = 'B. '}%>
                                    <%if(ind == 2){chooseitempd = 'C. '}%>
                                    <%if(ind == 3){chooseitempd = 'D. '}%>
                                    <%if(ind == 4){chooseitempd = 'E. '}%>
                                    <%if(ind == 5){chooseitempd = 'F. '}%>
                                    <%if(ind == 6){chooseitempd = 'G. '}%>
                                    <%if(ind == 7){chooseitempd = 'H. '}%>
                                    <%if(ind == 8){chooseitempd = 'I. '}%>
                                    <div class="radio">
                                        <label>
                                          <%if(it.is_correct==true){%>
                                            <input type="radio" name="panduanti<%=item._id%>" value="<%=it._id%>" checked="checked" disabled/> &nbsp;<span style="color: red;"><%=chooseitempd%><%=it.content%>
                                          <%}else{%>
                                            <input type="radio" name="panduanti<%=item._id%>" value="<%=it._id%>" disabled/> &nbsp;<%=chooseitempd%><%=it.content%>
                                          <%}%>
                                        </label>
                                    </div>
                                  <%})%>
                              </div>
                        </div>
                      <%})%>

                      <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <!-- button type="submit" class="btn btn-primary" name="signup" value="Sign up">Sign up</button>
                                <button type="button" class="btn btn-info" id="validateBtn">Manual validate</button>
                                <button type="button" class="btn btn-info" id="resetBtn">Reset form</button> -->
                            </div>
                      </div>
                    </form>
              </div>
          </section>
      </div>
      <hr style="height:1px;border:none;border-top:1px dashed #F08080;">

      <footer>
        <p class="text-center">2018 &copy; 深圳大学</p>
      </footer>
    </div>
                

<script src="/dxxxhjs/javascripts/jquery-1.10.2.min.js"></script>
<script src="/dxxxhjs/javascripts/bootstrap.min.js"></script>
<script src='/dxxxhjs/javascripts/bootstrapValidator.min.js' ></script>
<script src='/dxxxhjs/javascripts/icheck.js' ></script>
<script>
'use strict'
$(document).ready(function() {
    
});
</script>
  </body>
</html>

