<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/dxxxhjs/stylesheets/layui.css" media="all">
    <style type="text/css">
      /*.layui-input{
        width:85%!important;
        display: inline-block;
      }*/
      /*.layui-edge{
        display: none;
      }*/
    </style>
  </head>

  <body>
    <fieldset class="layui-elem-field">
      <legend>试卷设置详情</legend>
      <div class="layui-field-box">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">试卷主题</label>
            <div class="layui-input-block">
              <input type="text" name="ksname" id="ksname" class="layui-input" value="<%=detail.ksname%>" >
            </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">考试时间</label>
              <div class="layui-input-inline">
                <input type="text" name="ksshijian" id="ksshijian" class="layui-input" value="<%=detail.ksshijian%>" lay-verify="ksshijian">
              </div>
              <div class="layui-form-mid layui-word-aux">分钟</div>
          </div>
          <div class="layui-form-item">
            <!-- <div class="layui-inline">
              <label class="layui-form-label">考试日期</label>
              <div class="layui-input-inline">
                <input type="text" name="ksriqi" id="ksriqi" class="layui-input" value="<%=detail.ksriqi%>">
              </div>
            </div> -->
            
            <div class="layui-inline">
            <label class="layui-form-label">是否启用</label>
              <div class="layui-input-block">
                <select name="youxiao" id="youxiao" lay-filter="youxiao">
                  <%if(detail.youxiao==1){%>
                    <option value="<%=detail.youxiao%>" selected>启用该考试</option>
                    <option value="0">禁用该考试</option>
                  <%}else{%>
                    <option value="<%=detail.youxiao%>" selected>禁用该考试</option>
                    <option value="1">启用该考试</option>
                  <%}%>
                </select>
              </div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">当前考试</label>
              <div class="layui-input-block">
                <select name="dangqian" id="dangqian" lay-filter="dangqian">
                  <%if(detail.dangqian==1){%>
                    <option value="<%=detail.dangqian%>" selected>是</option>
                    <option value="0">否</option>
                  <%}else{%>
                    <option value="<%=detail.dangqian%>" selected>否</option>
                    <option value="1">是</option>
                  <%}%>
                </select>
              </div>
            </div>
          </div>
         
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">单选题数</label>
              <div class="layui-input-inline">
                <input type="text" name="danxuan_num" id="danxuan_num" class="layui-input" value="<%=detail.danxuan_num%>" lay-verify="danxuan_num">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">单选题分值</label>
              <div class="layui-input-inline">
                <input type="text" name="danxuan_fenzhi" id="danxuan_fenzhi" class="layui-input" value="<%=detail.danxuan_fenzhi%>" lay-verify="danxuan_fenzhi">
              </div>
              <div class="layui-form-mid layui-word-aux">分</div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">多选题数</label>
              <div class="layui-input-inline">
                <input type="text" name="duoxuan_num" id="duoxuan_num" class="layui-input" value="<%=detail.duoxuan_num%>" lay-verify="duoxuan_num">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">多选题分值</label>
              <div class="layui-input-inline">
                <input type="text" name="duoxuan_fenzhi" id="duoxuan_fenzhi" class="layui-input" value="<%=detail.duoxuan_fenzhi%>" lay-verify="duoxuan_fenzhi">
              </div>
              <div class="layui-form-mid layui-word-aux">分</div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">判断题数</label>
              <div class="layui-input-inline">
                <input type="text" name="panduan_num" id="panduan_num" class="layui-input" value="<%=detail.panduan_num%>" lay-verify="panduan_num">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">判断题分值</label>
              <div class="layui-input-inline">
                <input type="text" name="panduan_fenzhi" id="panduan_fenzhi" class="layui-input" value="<%=detail.panduan_fenzhi%>" lay-verify="panduan_fenzhi">
              </div>
              <div class="layui-form-mid layui-word-aux">分</div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">可考次数</label>
              <div class="layui-input-inline">
                <input type="text" name="ckcs" id="ckcs" class="layui-input" lay-verify="ckcs" style="color: red;" value="<%=detail.ckcs%>" lay-verify="ckcs">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">试卷总分</label>
              <div class="layui-input-inline">
                <input type="text" name="sjfz" id="sjfz" class="layui-input" lay-verify="sjfz" value='<%=detail.zongfen%>' style="color: red;" disabled="">
              </div>
              <div class="layui-form-mid layui-word-aux">分</div>
            </div>
          </div>
          
          <div class="layui-form-item">
          <%detail.per_of_modal.forEach(function(item,index){%>
              <div class="layui-inline">
                <label class="layui-form-label"><%=item.name%></label>
                <div class="layui-input-inline">
                  <input type="text" name="<%=item.name%>" id="<%=index%>" class="layui-input" value="<%=item.percent%>" lay-verify="<%=index%>" >
                </div>
                <div class="layui-form-mid layui-word-aux">%</div>
              </div>
              
          <%})%>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">百分比之和</label>
              <div class="layui-input-block">
                <input type="text" name="all_percent" id="all_percent" placeholder="" class="layui-input" value='<%=detail.allpercent%>' style="color: red;" disabled>
              </div>
              <!-- <div class="layui-form-mid layui-word-aux">%</div> -->
            </div>

          <div class="layui-form-item">
            <label class="layui-form-label">考试链接</label>
            <div class="layui-input-block">
              <input type="text" name="kslianjie" id="kslianjie" class="layui-input" value="<%=detail.kslianjie%>" disabled>
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="tijiao">确认修改</button>
              <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
            </div>
          </div>
          
        </form>
      </div>
    </fieldset>

<script src="/dxxxhjs/javascripts/jquery-3.1.1.js"></script>
<script src="/dxxxhjs/javascripts/layui.js"></script>
<script>
'use strict'
$(function(){
  'use strict'
  layui.use(['layer','form'], function(){
    let layer = layui.layer,
        form = layui.form;
    var all_percent = 0,
      temp_choose = ''
  //自定义验证规则  
        form.verify({  
          <%detail.per_of_modal.forEach(function(item,index){%>
            <%=index%>:function(value){
              if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                    return '必须是大于0的整数';  
                  }
            },
            <%})%>
              ksshijian: function(value){  
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '考试时间必须是大于0的整数';  
                }  
              } ,
              danxuan_num: function(value){  
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '题目数量必须是大于0的整数';  
                }  
              } ,
              duoxuan_num: function(value){  
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '题目数量必须是大于0的整数';  
                }  
              } ,
              panduan_num: function(value){  
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '题目数量必须是大于0的整数';  
                }  
              } ,
              danxuan_fenzhi: function(value){
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '分值必须是大于0的整数';  
                } 
              },
              duoxuan_fenzhi: function(value){
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '分值必须是大于0的整数';  
                } 
              },
              panduan_fenzhi: function(value){
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '分值必须是大于0的整数';  
                } 
              },
              ckcs: function(value){
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '可考次数必须是大于0的整数';  
                } 
              }
        });
  $('input').on('input propertychange',function(data){
          let temp1 = $('#danxuan_fenzhi').val() ? $('#danxuan_fenzhi').val() : 0,
              temp2 = $('#danxuan_num').val() ? $('#danxuan_num').val() : 0,
              temp3 = temp1 * temp2,
              temp4 = $('#duoxuan_fenzhi').val() ? $('#duoxuan_fenzhi').val() : 0,
              temp5 = $('#duoxuan_num').val() ? $('#duoxuan_num').val() : 0,
              temp6 = temp4 * temp5,
              temp7 = $('#panduan_fenzhi').val() ? $('#panduan_fenzhi').val() : 0,
              temp8 = $('#panduan_num').val() ? $('#panduan_num').val() : 0,
              temp9 = temp7 * temp8
          let sjfz = temp3 + temp6 + temp9
          console.log('试卷分值-->',sjfz)
          console.log('sjsz-->',$('#sjfz').attr("value"))
          $('#sjfz').attr("value",sjfz)
          let all_percent_1 = 0
          <%for(let i=0;i<detail.per_of_modal.length;i++){%>
            
            temp_choose = '#' + <%=i%>
            console.log('temp_choose-->',temp_choose)
            if($(temp_choose).val()){
              if(typeof(parseInt($(temp_choose).val()))==='number'){
                console.log(typeof(parseInt($(temp_choose).val())))
                console.log($(temp_choose).val())
                all_percent_1 += parseInt($(temp_choose).val())
                console.log('all_percent_1-->',all_percent_1)
                console.log(<%=i%>)
              }else{
                console.log('没有值')
                console.log(typeof(parseInt($(temp_choose).val())))
              }
            }
            console.log('dddd-->',all_percent_1)
            console.log('ffff-->',parseInt($(temp_choose).val()))
          <%}%>
          $('#all_percent').attr("value",all_percent_1)
          
          //$('#all_percent').attr("value",all_percent_1)
  })//input
  //监听提交
        form.on('submit(tijiao)', function(data){
          let temp1 = $('#danxuan_fenzhi').val() * $('#danxuan_num').val(),
              temp2 = $('#duoxuan_num').val() * $('#duoxuan_fenzhi').val(),
              temp3 = $('#panduan_num').val() * $('#panduan_fenzhi').val()
          if((temp1+temp2+temp3)!==100){
            layer.open({
                  title: '提示',
                  content: '试题总分不是100分，请检查'
                }); 
            return false;
          }
          //获取所有的值
          let ksname = $('#ksname').val(),
              _id = '<%=detail._id%>',
              //ksriqi = $('#ksriqi').val(),
              ksshijian = $('#ksshijian').val(),
              danxuan_fenzhi = $('#danxuan_fenzhi').val(),
              danxuan_num = $('#danxuan_num').val(),
              duoxuan_fenzhi = $('#duoxuan_fenzhi').val(),
              duoxuan_num = $('#duoxuan_num').val(),
              panduan_fenzhi = $('#panduan_fenzhi').val(),
              panduan_num = $('#panduan_num').val(),
              ckcs = $('#ckcs').val(),
              youxiao = $('#youxiao option:selected').val(),
              dangqian = $('#dangqian option:selected').val(),
              //all_percent = $('#all_percent').val(),
              obj = {},
              tem_arr = [],
              tem_choose = ''
          
          <%detail.per_of_modal.forEach(function(item,index){%>
              console.log('item,index-->')
              obj.id = <%=index%>
              
              tem_choose = '#' + <%=index%>
              console.log('tem_choose$-->',tem_choose)
              obj.percent = $(tem_choose).val()
              all_percent += parseInt($(tem_choose).val())
              console.log('all_percent-->',all_percent)
              obj.name = $(tem_choose).attr('name')
              tem_arr.push(obj)
              obj = {}
          <%})%>
          console.log('tem_arr-->',tem_arr)
          if(all_percent!==100){
            layer.open({
                  title: '提示',
                  content: '模块百分比之和需为100%',
                  end:function(){
                    all_percent = 0
                    $('#all_percent').attr('value',0)
                    //$('#clear_per').click()
                  }
                }); 
            
            return false
          }
          
          console.log('all args-->',_id,ksname,ksshijian,danxuan_num,danxuan_fenzhi,duoxuan_num,duoxuan_fenzhi,panduan_num,panduan_fenzhi,ckcs)
          //console.log('tem_arr-->',tem_arr)
          $.ajax({
            url:'/dxxxhjs/manage/editsj',
            method:'post',
            data:{
              _id : _id,
              ksname : ksname,
              //ksriqi : ksriqi,
              ksshijian : ksshijian,
              danxuan_fenzhi : danxuan_fenzhi,
              danxuan_num : danxuan_num,
              duoxuan_fenzhi : duoxuan_fenzhi,
              duoxuan_num : duoxuan_num,
              panduan_fenzhi : panduan_fenzhi,
              panduan_num : panduan_num,
              modal_arr : JSON.stringify(tem_arr),
              ckcs : ckcs,
              youxiao : youxiao,
              dangqian : dangqian

            },
            success:function(res){
              if(res.code === 0){
                console.log(res.msg)
                layer.open({
                  title: '提示',
                  content: '修改成功',
                  end:function(){
                    parent.parent.layer.closeAll()
                    //layer.closeAll('iframe')
                  }
                }); 

              }else{
                layer.open({
                  title: '提示',
                  content: '修改出现问题，请反馈',
                  end:function(){
                    parent.parent.layer.closeAll()
                    //layer.closeAll('iframe')
                  }
                }); 
              }
            },
            error:function(err){
              console.log('delete err',err)
            }
          }) 
          return false
        })
  });
})

</script>
  </body>
</html>
