<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/dxxxhjs/stylesheets/layui.css" media="all">
  </head>

  <body>
    <fieldset class="layui-elem-field">
      <legend>试卷设置</legend>
      <div class="layui-field-box" id="stepcontent">
        <form class="layui-form layui-form-pane" action="" id="first_step">
          <div class="layui-form-item">
            <label class="layui-form-label">考试主题</label>
            <div class="layui-input-block">
              <input type="text" name="ksname" id="ksname" placeholder="如党章测试" class="layui-input" lay-verify="required" value=''>
            </div>
          </div>

          <div class="layui-form-item">
            <!-- <div class="layui-inline">
              <label class="layui-form-label label_big">考试日期</label>
              <div class="layui-input-inline">
                <input type="text" name="ksriqi" id="ksriqi" class="layui-input" placeholder="yyyy-MM-dd" lay-verify="date" value=''>
              </div>
            </div> -->
            <div class="layui-inline">
              <label class="layui-form-label label_big">考试时间</label>
              <div class="layui-input-inline">
                <input type="text" name="ksshijian" id="ksshijian" class="layui-input" placeholder="单位为分钟" lay-verify="ksshijian" value=''>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">试卷份数</label>
              <div class="layui-input-inline">
                <input type="text" name="sjfs" id="sjfs" class="layui-input" placeholder="大于等于1份" lay-verify="sjfs" value=''>
              </div>
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label label_big">单选题分值</label>
              <div class="layui-input-inline">
                <input type="text" name="danxuan_fenzhi" id="danxuan_fenzhi" class="layui-input" placeholder="填写每道单选题分值" lay-verify="danxuan_fenzhi" value=''>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">单选题道数</label>
              <div class="layui-input-inline">
                <input type="text" name="danxuan_num" id="danxuan_num" class="layui-input" placeholder="填写单选题道数" lay-verify="danxuan_num" value=''>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">多选题分值</label>
              <div class="layui-input-inline">
                <input type="text" name="duoxuan_fenzhi" id="duoxuan_fenzhi" class="layui-input" placeholder="填写每道多选题分值" lay-verify="duoxuan_fenzhi" value=''>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">多选题道数</label>
              <div class="layui-input-inline">
                <input type="text" name="duoxuan_num" id="duoxuan_num" class="layui-input" placeholder="填写多选题道数" lay-verify="pandaun_num" value=''>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">判断题分值</label>
              <div class="layui-input-inline">
                <input type="text" name="panduan_fenzhi" id="panduan_fenzhi" class="layui-input" placeholder="填写每道判断题分值" lay-verify="panduan_fenzhi" value=''>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">判断题道数</label>
              <div class="layui-input-inline">
                <input type="text" name="panduan_num" id="panduan_num" class="layui-input" placeholder="填写判断题道数" lay-verify="panduan_num" value=''>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">试卷总分</label>
              <div class="layui-input-inline">
                <input type="text" name="sjfz" id="sjfz" class="layui-input" lay-verify="sjfz" value='0' style="color: red;" disabled="">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label label_big">可考次数</label>
              <div class="layui-input-inline">
                <input type="text" name="ckcs" id="ckcs" class="layui-input" lay-verify="ckcs" style="color: red;" placeholder="2" >
              </div>
            </div>
          </div>
          
          <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">模块\题型</label>
                <div class="layui-input-inline" style="width: 100px; color:red;">
                  <input type="text" name="" id="mkdanxuan" placeholder="" class="layui-input" lay-verify="" value='单选' disabled="" style="color:red;font-weight: bold;">
                </div>
                <div class="layui-form-mid">+</div>
                <div class="layui-input-inline" style="width: 100px;color:red;">
                  <input type="text" name="" id="mkduoxuan" placeholder="" class="layui-input" lay-verify="" value='多选' disabled="" style="color:red;font-weight: bold;">
                </div>
                <div class="layui-form-mid">+</div>
                <div class="layui-input-inline" style="width: 100px;color:red;">
                  <input type="text" name="" id="mkpanduan" placeholder="" class="layui-input" lay-verify="" value='判断' disabled="" style="color:red;font-weight: bold;">
                </div>
                <div class="layui-form-mid">=</div>
                <div class="layui-input-inline" style="width: 100px;color:red;">
                  <input type="text" name="" id="mkzongfen" placeholder="" class="layui-input" lay-verify="" value='总分' disabled="" style="color:red;font-weight: bold;">
                </div>
              </div>
              <%catname.forEach(function(item,index){%>
            
              <div class="layui-inline">
                <label class="layui-form-label"><%=item%></label>
                <div class="layui-input-inline" style="width: 100px;">
                  <input type="text" name="<%=index+1%>" id="<%=index+1%>" placeholder="单选" class="layui-input" lay-verify="<%=index+1%>" value=''>
                </div>
                <div class="layui-form-mid">+</div>
                <div class="layui-input-inline" style="width: 100px;">
                  <input type="text" name="<%=index+1%><%=index%>" id="<%=index+1%><%=index%>" placeholder="多选" class="layui-input" lay-verify="<%=index+1%><%=index%>" value=''>
                </div>
                <div class="layui-form-mid">+</div>
                <div class="layui-input-inline" style="width: 100px;">
                  <input type="text" name="<%=index+1%><%=index%><%=index%>" id="<%=index+1%><%=index%><%=index%>" placeholder="判断" class="layui-input" lay-verify="<%=index+1%><%=index%><%=index%>" value=''>
                </div>
                <div class="layui-form-mid">=</div>
                <div class="layui-input-inline" style="width: 100px;">
                  <input type="text" name="<%=index+1%><%=index%><%=index%><%=index%>" id="<%=index+1%><%=index%><%=index%><%=index%>" placeholder="模块总分" class="layui-input" lay-verify="<%=index+1%><%=index%><%=index%><%=index%>" value='' disabled="" style="color: red;">
                </div>
              </div>
            
          <%})%>
          </div>

          <div class="layui-form-item">
          
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="tijiao">提交</button>
              <!-- <button class="layui-btn" lay-submit="" lay-filter="xiayibu">下一步</button> -->
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    </fieldset>


        <form class="layui-form layui-form-pane" action="" id="second_step" style="display:none;">
          <%catname.forEach(function(item,index){%>
            <div class="layui-form-item">
              <label class="layui-form-label"><%=item%></label>
              <div class="layui-input-block">
                <input type="text" name="<%=index%>" id="<%=index%>" placeholder="请输入模块所占题目的百分比(整数)" class="layui-input" lay-verify="<%=index%>" value=''>
              </div>
            </div>
          <%})%>
            <div class="layui-form-item">
              <label class="layui-form-label">百分比之和</label>
              <div class="layui-input-block">
                <input type="text" name="all_percent" id="all_percent" placeholder="" class="layui-input" value='0' style="color: red;" disabled>
              </div>
            </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="shangyibu">上一步</button>
              <button class="layui-btn" lay-submit="" lay-filter="tijiao">提交</button>
              <button type="reset" class="layui-btn layui-btn-primary" id="clear_per">重置</button>
            </div>
          </div>
        </form>


<script src="/dxxxhjs/javascripts/jquery-3.1.1.js"></script>
<script src="/dxxxhjs/javascripts/layui.js"></script>
<script>
'use strict'
$(function(){
'use strict'
  let ksname = getCookie('ksname'),
              // ksriqi = getCookie('ksriqi'),
              ksshijian = getCookie('ksshijian'),
              danxuan_fenzhi = getCookie('danxuan_fenzhi'),
              danxuan_num = getCookie('danxuan_num'),
              duoxuan_fenzhi = getCookie('duoxuan_fenzhi'),
              duoxuan_num = getCookie('duoxuan_num'),
              panduan_fenzhi = getCookie('panduan_fenzhi'),
              panduan_num = getCookie('panduan_num'),
              sjfz = getCookie('sjfz'),
              ckcs = getCookie('ckcs')
          console.log('有没有值-->',ksname)
          // console.log('有没有值-->',ksriqi)
          console.log('有没有值-->',ksshijian)
          console.log('有没有值-->',danxuan_fenzhi)
          console.log('有没有值-->',danxuan_num)
          console.log('有没有值-->',duoxuan_num)
          console.log('有没有值-->',duoxuan_fenzhi)
          console.log('有没有值-->',panduan_fenzhi)
          console.log('有没有值-->',panduan_num)
          console.log('有没有值-->',sjfz)
          console.log('有没有值-->',ckcs)
          $('#ksname').val(ksname)
          //$('#ksriqi').val(ksriqi)
          $('#ksshijian').val(ksshijian)
          $('#danxuan_fenzhi').val(danxuan_fenzhi)
          $('#danxuan_num').val(danxuan_num)
          $('#duoxuan_fenzhi').val(duoxuan_fenzhi)
          $('#duoxuan_num').val(duoxuan_num)
          $('#panduan_fenzhi').val(panduan_fenzhi)
          $('#panduan_num').val(panduan_num)
          $('#ckcs').val(ckcs)

  function setCookie (name, value)
  { 
    //设置名称为name,值为value的Cookie
    var expdate = new Date();   //初始化时间
    expdate.setTime(expdate.getTime() + 2 * 60 * 1000);   //时间 5分钟
    document.cookie = name+"="+value+";expires="+expdate.toGMTString()+";path=http://localhost:3000/manage/new_firststep";
    //即document.cookie= name+"="+value+";path=/";  // 时间可以不要，但路径(path)//必须要填写，因为JS的默认路径是当前页，如果不填，此cookie只在当前页面生效！~
  }
  function getCookie(c_name)
  {
    if(document.cookie){
      let arr = document.cookie.split(';')
      console.log('arr-->',arr)
      let result = ''
      for(let i=0;i<arr.length;i++){
        if(arr[i].indexOf(c_name)>-1){
            console.log('匹配到该字段')
            let tem_arr = arr[i].split('=')
            if(tem_arr.length > 0){
              console.log('result-->',tem_arr[0],tem_arr[1])
              result = tem_arr[1]
              return result
            }
          }
      } 
    } 
    return ''
  }

  layui.use(['form', 'laydate','layer','table'], function(){
    let laydate = layui.laydate,
        layer = layui.layer,
        form = layui.form,
        table = layui.table

    let date = new Date(),
        year = date.getFullYear(),
        month = date.getMonth(),
        day = date.getDay()
        date = year + '-' + month + '-' + day

        //日期
        // laydate.render({
        //   elem: '#ksriqi'
        //   ,min: date
        //   ,max: '2020-01-01'
        // });

        //自定义验证规则  
        form.verify({  
          <%catname.forEach(function(item,index){%>
            <%=index+1%>:function(value){
              if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                    return '必须是大于0的整数';  
                  }
            },
            <%=index+1%><%=index%>:function(value){
              if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                    return '必须是大于0的整数';  
                  }
            },
            <%=index+1%><%=index%><%=index%>:function(value){
              if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                    return '必须是大于0的整数';  
                  }
            },
            <%})%>
              ksshijian: function(value){  
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '考试时间必须是大于0的整数';  
                }  
              } ,
              sjfs:function(value){
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '试卷份数必须是大于0的整数';  
                }  
              },
              danxuan_num: function(value){  
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '题目数量必须是大于0的整数';  
                }  
              } ,
              duoxuan_num: function(value){  
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '题目数量必须是大于0的整数';  
                }  
              } ,
              panduan_num: function(value){  
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '题目数量必须是大于0的整数';  
                }  
              } ,
              danxuan_fenzhi: function(value){
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '分值必须是大于0的整数';  
                } 
              },
              duoxuan_fenzhi: function(value){
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '分值必须是大于0的整数';  
                } 
              },
              panduan_fenzhi: function(value){
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '分值必须是大于0的整数';  
                } 
              },
              ckcs: function(value){
                if(!(/^(0|[1-9][0-9]*)$/.test(value))){  
                  return '可考次数必须是大于0的整数';  
                } 
              }
        });  
        var all_percent = 0,
            temp_choose = '',temp_choose_1='',temp_choose_2='',temp_choose_3='',temp_mokuai='';
        $('input').on('input propertychange',function(data){
          let temp1 = $('#danxuan_fenzhi').val() ? $('#danxuan_fenzhi').val() : 0,
              temp2 = $('#danxuan_num').val() ? $('#danxuan_num').val() : 0,
              temp3 = temp1 * temp2,
              temp4 = $('#duoxuan_fenzhi').val() ? $('#duoxuan_fenzhi').val() : 0,
              temp5 = $('#duoxuan_num').val() ? $('#duoxuan_num').val() : 0,
              temp6 = temp4 * temp5,
              temp7 = $('#panduan_fenzhi').val() ? $('#panduan_fenzhi').val() : 0,
              temp8 = $('#panduan_num').val() ? $('#panduan_num').val() : 0,
              temp9 = temp7 * temp8
          let sjfz = temp3 + temp6 + temp9
          console.log('试卷分值-->',sjfz)
          console.log('sjsz-->',$('#sjfz').attr("value"))
          $('#sjfz').attr("value",sjfz)
          let all_percent_1 = 0,mokuaizongfen = 0
          var mkdanxuan = 0,mkduoxuan = 0,mkpanduan = 0,mkzongfen = 0

          <%for(let i=0;i<catname.length;i++){%>
            //获取每个模块总分
            temp_choose_1 = '#' + <%=i+1%>
            console.log('模块单选选择器-->',temp_choose_1)
            temp_choose_2 = '#' + <%=i+1%><%=i%>
            console.log('模块多选选择器-->',temp_choose_2)
            temp_choose_3 = '#' + <%=i+1%><%=i%><%=i%>
            console.log('模块判断选择器-->',temp_choose_3)
            temp_mokuai = '#' + <%=i+1%><%=i%><%=i%><%=i%>
            if($(temp_choose_1).val() && $(temp_choose_2).val() && $(temp_choose_3).val()){
              mokuaizongfen = parseInt($(temp_choose_1).val()*$('#danxuan_fenzhi').val())+parseInt($(temp_choose_2).val()*$('#duoxuan_fenzhi').val())+parseInt($(temp_choose_3).val()*$('#panduan_fenzhi').val())
              console.log('模块总分-->',mokuaizongfen)
              mkzongfen += mokuaizongfen
              $(temp_mokuai).attr("value",mokuaizongfen)
              $('#mkzongfen').attr("value",'总分：'+mkzongfen)
            }else{
              console.log('还没填写完整')
            }
            if($(temp_choose_1).val()){
              mkdanxuan += parseInt($(temp_choose_1).val())
              $('#mkdanxuan').attr("value",'单选：'+mkdanxuan)
            }
            if($(temp_choose_2).val()){
              mkduoxuan += parseInt($(temp_choose_2).val())
              $('#mkduoxuan').attr("value",'多选：'+mkduoxuan)
            }
            if($(temp_choose_3).val()){
              mkpanduan += parseInt($(temp_choose_3).val())
              $('#mkpanduan').attr("value",'多选：'+mkpanduan)
            }
          <%}%>
        })

        //监听提交
        form.on('submit(tijiao)', function(data){
          
          //获取所有的值
          let ksname = $('#ksname').val(),
              //ksriqi = $('#ksriqi').val(),
              ksshijian = $('#ksshijian').val(),
              danxuan_fenzhi = $('#danxuan_fenzhi').val(),
              danxuan_num = $('#danxuan_num').val(),
              duoxuan_fenzhi = $('#duoxuan_fenzhi').val(),
              duoxuan_num = $('#duoxuan_num').val(),
              panduan_fenzhi = $('#panduan_fenzhi').val(),
              panduan_num = $('#panduan_num').val(),
              ckcs = $('#ckcs').val(),
              sjfs = $('#sjfs').val(),
              obj = {},
              tem_arr = [],
              tem_choose = '',
              catname_length = <%=catname.length%>
          let te_danxuan = 0,
              te_duoxuan = 0,
              te_panduan = 0

          <%catname.forEach(function(item,index){%>
              obj.id = <%=index%>
              obj.name = '<%=item%>'
              obj.danxuan = parseInt($('#' + (<%=index%>+1)).val())
              obj.duoxuan = parseInt($('#' + (<%=index%>+1) + <%=index%>).val())
              obj.panduan = parseInt($('#' + (<%=index%>+1)+ <%=index%>+ <%=index%>).val())
              obj.mokuaizongfen = parseInt($('#' + (<%=index%>+1)+ <%=index%>+ <%=index%>+ <%=index%>).val())
              tem_arr.push(obj)
              te_danxuan += parseInt($('#' + (<%=index%>+1)).val())
              te_duoxuan += parseInt($('#' + (<%=index%>+1) + <%=index%>).val())
              te_panduan += parseInt($('#' + (<%=index%>+1)+ <%=index%>+ <%=index%>).val())
              obj = {}
          <%})%>

          console.log('te_danxuan-->',te_danxuan)
          console.log('te_duoxuan-->',te_danxuan)
          console.log('te_panduan-->',te_panduan)
          //console.log('tem_arr-->',tem_arr)
          //return false
          if(te_danxuan!=$('#danxuan_num').val()){
            if(te_danxuan>parseInt($('#danxuan_num').val())){
              layer.open({
                  title: '提示',
                  content: '模块单选题超出设置，请检查',
                  end:function(){}                 
              }); 
              return false
            }else{
              layer.open({
                  title: '提示',
                  content: '模块单选题少于设置，请检查',
                  end:function(){}
                }); 
              return false
            }
          }
          if(te_duoxuan!=$('#duoxuan_num').val()){
            if(te_danxuan>parseInt($('#duoxuan_num').val())){
              layer.open({
                  title: '提示',
                  content: '模块多选题超出设置，请检查',
                  end:function(){}                 
              }); 
              return false
            }else{
              layer.open({
                  title: '提示',
                  content: '模块多选题少于设置，请检查',
                  end:function(){}
                }); 
              return false
            }
          }
          if(te_panduan!=$('#panduan_num').val()){
            if(te_panduan>parseInt($('#panduan_num').val())){
              layer.open({
                  title: '提示',
                  content: '模块判断题超出设置，请检查',
                  end:function(){}                 
              }); 
              return false
            }else{
              layer.open({
                  title: '提示',
                  content: '模块判断题少于设置，请检查',
                  end:function(){}
                }); 
              return false
            }
          }
          //console.log('all args-->',ksname,ksriqi,ksshijian,danxuan_num,danxuan_fenzhi,duoxuan_num,duoxuan_fenzhi,panduan_num,panduan_fenzhi,tem_arr)
          console.log('tem_arr-->',tem_arr)
          $.ajax({
            url:'/dxxxhjs/manage/new_step',
            //url:'/dxxxhjs/manage/new_firststep',
            method:'post',
            data:{
              ksname : ksname,
              //ksriqi : ksriqi,
              ksshijian : ksshijian,
              danxuan_fenzhi : danxuan_fenzhi,
              danxuan_num : danxuan_num,
              duoxuan_fenzhi : duoxuan_fenzhi,
              duoxuan_num : duoxuan_num,
              panduan_fenzhi : panduan_fenzhi,
              panduan_num : panduan_num,
              modal_arr : JSON.stringify(tem_arr),
              ckcs : ckcs,
              sjfs:sjfs
            },
            success:function(res){
              if(res.code === 0){
                console.log(res.msg)
                layer.open({
                  title: '提示',
                  content: '试卷设置成功',
                  end:function(){
                    parent.parent.layer.closeAll()
                    //layer.closeAll('iframe')
                  }
                }); 

              }else{
                console.log('试卷设置成功')
              }
            },
            error:function(err){
              console.log('delete err',err)
            }
          }) 
          return false
        })
        //监听下一步
        form.on('submit(xiayibu)', function(data){
          let temp1 = $('#danxuan_fenzhi').val() * $('#danxuan_num').val(),
              temp2 = $('#duoxuan_num').val() * $('#duoxuan_fenzhi').val(),
              temp3 = $('#panduan_num').val() * $('#panduan_fenzhi').val()
          if((temp1+temp2+temp3)!==100){
            layer.open({
                  title: '提示',
                  content: '试题总分不是100分，请检查'
                }); 
            return false;
          }
          setCookie('ksname',$('#ksname').val())
          //setCookie('ksriqi',$('#ksriqi').val())
          setCookie('ksshijian',$('#ksshijian').val())
          setCookie('danxuan_fenzhi',$('#danxuan_fenzhi').val())
          setCookie('danxuan_num',$('#danxuan_num').val())
          setCookie('duoxuan_fenzhi',$('#duoxuan_fenzhi').val())
          setCookie('duoxuan_num',$('#duoxuan_num').val())
          setCookie('panduan_fenzhi',$('#panduan_fenzhi').val())
          setCookie('panduan_num',$('#panduan_num').val())
          setCookie('sjfz',$('#sjfz').val())
          setCookie('ckcs',$('#ckcs').val())

          console.log(document.cookie)

          $('#first_step').attr('style','display:none')
          $('#second_step').attr('style',"display")
          $('#second_step').appendTo('#stepcontent')
          return false;
        })//form

        form.on('submit(shangyibu)',function(data){
          $('#second_step').attr('style','display:none')
          $('#first_step').attr('style',"display")
          return false
        })
    })
})
</script>
  </body>
</html>
